# APP
APP_ENV=dev
APP_DEBUG=true
APP_SECRET_KEY=370+vv0v6de^!_(&o3twicvaz+d!0(t+xftf0t8^6l93^l6z
APP_FEATURE_SWAGGER=true
APP_FEATURE_SENTRY=false
APP_SENTRY_DSN=https://sentry_dsn
APP_SENTRY_SAMPLE_RATE=0.5

# gunicorn/uvicorn --workers <int> - Use multiple worker processes.
# Defaults to the value of the $WEB_CONCURRENCY environment variable.
WEB_CONCURRENCY=2

# only dev containers
#EXPOSE_APP_PORT=8000
